{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Панель тестов</title>
<link rel="stylesheet" href="/static/employee_testing.css">
{% endblock %}

{% block body %}
{% for form in forms %}
    {{ form }}
    <div class="test-block" id="test-block-{{form.form_id}}">
        <a href="{{ form.url }}?user_id={{ user_id }}">{{ form.title }}</a>
        {% if list_end_test[form.form_id] %}
        <p>Последний результат: {{ list_end_test[form.form_id]['points'] }} / {{ list_end_test[form.form_id]['max_points'] }}</p>
        <p>Кол-во попыток: {{ list_end_test[form.form_id]['count'] }}</p>
        <p>Последняя попытка: {{ list_end_test[form.form_id]['date']}}</p>
        <style type="text/css">
            {% if list_end_test[form.form_id]['result'] == "Тест провален" %}
            #test-block-{{form.form_id}} {
                background-color: #FF8284;
            }
            {% elif list_end_test[form.form_id]['result'] == "Тест пройден" %}
            #test-block-{{form.form_id}} {
                background-color: #96E38D;
            }
            {% endif %}
        </style>
        {% else%}
        <style type="text/css">
        #test-block-{{form.form_id}} {
                background-color: #D3D3D3;
            }

        .test-block {
            background-color: #96E38D;
        }
        </style>
        {% endif %}
    </div>
{%  endfor %}
{% endblock %}