body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    margin-bottom: 10px;
}
.btn {
    background: #bbed21;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}

.select-container {
    padding: 10px;
}

textarea.form-control {
    width: 300px;
}
