{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Панель тестов</title>
<link rel="stylesheet" href="/static/employee_testing.css">
{% endblock %}

{% block body %}
<body>

{% for form in forms %}
    <div class="test-block" id="test-block-{{form[0]}}">
        <a href="{{ form[2] }}?user_id={{ user_id }}">{{ form[1] }}</a>
        {% if list_end_test[form[0]] %}
        <p>Результат: {{ list_end_test[form[0]]['points'] }} / {{ list_end_test[form[0]]['max_points'] }}</p>
        <p>Кол-во попыток: {{ list_end_test[form[0]]['count'] }}</p>
        <p>Дата последнего прохождения: {{ list_end_test[form[0]]['date']}}</p>
        <style type="text/css">
            {% if list_end_test[form[0]]['result'] == 4199 %}
            #test-block-{{form[0]}} {
                background-color: red;
            }
            {% elif list_end_test[form[0]]['result'] == 4197 %}
            #test-block-{{form[0]}} {
                background-color: green;
            }
            {% endif %}
        </style>
        {% else%}
        <style type="text/css">
        #test-block-{{form[0]}} {
                background-color: gray;
            }
        </style>
        {% endif %}
    </div>
{%  endfor %}
{% endblock %}