{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/task_panel.css">
{% endblock %}
{% block body %}
{% if access == "accountant" or access == "admin" %}
    <div class="select-container" id="select-container-accountant">
        <label for="accountant">Бухгалтера</label>
        <select id="accountant" class="form-select form-select-lg mb-1">
            <option value="Согласован">Согласован</option>
            <option value="Согласован с замечаниями">Согласован с замечаниями</option>
            <option value="Несогласован">Несогласован</option>
        </select>
        <button type="button" class="btn" id="button-accountant">ПОДТВЕРДИТЬ</button>
    </div>
{% endif %}
{% if access == "lawyer" or access == "admin" %}
    <div class="select-container" id="select-container-lawyer">
        <label for="lawyer">Юристы</label>
        <select id="lawyer" class="form-select form-select-lg mb-1">
            <option value="Согласован">Согласован</option>
            <option value="Согласован с замечаниями">Согласован с замечаниями</option>
            <option value="Несогласован">Несогласован</option>
        </select>
        <button type="button" class="btn">ПОДТВЕРДИТЬ</button>
    </div>
{% endif %}
{% endblock %}
{% block footer %}
    <script src="/static/task_panel.js"></script>
{% endblock %}